.navbar {
  position: relative;
  background-color: #16a4e0;
  width: 100%;
  height: auto;
}

#person {
  position: relative;
  width: 60px;
  height: 60px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 40px;
}

h6 {
  margin-right: 530px;
  margin-top: 80px;
}

.form {
  text-align: center;
  margin-top: 80px;
  font-family: poppins, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Styling lainnya */
input {
  border: none;
  border-radius: 8px;
  background-color: #d9d9d9;
  width: 300px;
  height: 30px;
}

#submit {
  border: none;
  margin-top: 20px;
  width: 300px;
  height: 35px;
  background-color: black;
  color: #ffffff;
  border-radius: 8px;
}

.form1 {
  margin-top: 20px;
}
